.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #282c34;
  color: white;
  position: relative;
}

.question-feedback {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.question {
  font-size: 24px;
  margin-right: 10px;
}

.feedback-container {
  height: 40px; /* Fixed height to prevent layout shift */
  display: flex;
  align-items: center;
  justify-content: center;
}

.feedback {
  font-size: 24px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden; /* Hide the feedback initially */
}

.feedback.visible {
  visibility: visible; /* Show the feedback when visible */
}

.feedback.correct {
  color: green;
}

.feedback.incorrect {
  color: red;
}
